# Node/Next/TypeScript
node_modules/
npm-debug.log*
dist/
build/
.next/
out/
coverage/
*.local
*.log

# Env
.env
*.env
apps/**/.env
apps/**/.env.*
.env.local
.env.development
.env.test

# Editor
.vscode/
.idea/
.DS_Store
